<div class="tab-header">
    <i class="file text outline icon"></i>Edit the table
</div>
<div class="tab-content">
    <p>Please Double-click on the cell to Edit Values:</p>
    <div class="" id="handsontable"></div>


    <div class="ui mini modal">
            <div class="header">Alert</div>
            <div class="content">
              <p>Please enter Value greater than or equals to Zero.</p>
            </div>
            <div class="actions">
                <div class="ui green ok inverted button">
                            OK
                </div>
            </div>
          </div>

    <div class="ui basic modal">
        <div class="ui icon header">
            Are you sure you would like to Insert record?
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>Cancel
            </div>
            <div class="ui green basic ok inverted button">
                <i class="checkmark icon"></i>Yes
            </div>
        </div>
    </div>
</div> 