<div class="tab-header">
    <i class="file text outline icon"></i>Insert the edits
</div>
<div class="tab-content">
    <!-- <div class="ui toggle checkbox">
        <input type="checkbox" name="public">
        <label>Fix the version as production</label>
    </div> -->
    <div class="ui positive message">
        <div class="header">
            message
        </div>
        <p>Record has been inserted successfully.</p>
    </div>
    <code class="lang-sql">
        <button class="copy-btn" data-clipboard-target="#clipboard">Copy</button>
        <div id="clipboard"></div>
    </code>
</div>