<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.2.11/components/button.css" >
	<link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.2.11/components/icon.css" >-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/transition.css" >
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/components/transition.js"></script> 

<link rel="stylesheet" type="text/css" href="http://docs.handsontable.com/pro/bower_components/handsontable-pro/dist/handsontable.full.min.css">
<script src="http://docs.handsontable.com/pro/bower_components/handsontable-pro/dist/handsontable.full.min.js"></script>
 <!-- <link rel="stylesheet" type="text/css" href="http://handsontable.com/static/css/main.css">  -->

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.css">
    <script src="https://cdn.bootcss.com/semantic-ui/2.2.11/semantic.js"></script> 
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/semantic-ui/2.2.11/components/menu.css">
    <script src="https://cdn.bootcss.com/semantic-ui/2.2.11/semantic.js"></script> 
<script>
$(document).ready(function() {
  $('.ui.dropdown').dropdown({
    onChange: function (value, text, $selectedItem) {
      console.log(value);
    },
    forceSelection: false,
    selectOnKeydown: false,
    showOnFocus: false,
    on: "click"
  });

});
</script>
	<title>EnerMod | Index</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">

	<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
  	<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
</head>
<body>
	<header>
			<div id="logo">
				<a href="#">
					<img class="headerLogo" src="../images/logo.png">
				</a>
			</div>
			<div class="headerAccount">
				<span class="username"><i class="user icon"></i>Anup Kumar</span>
				<div class="ui buttons">
							<div class="ui floating dropdown icon button dropdownMenu">
								<i class="chevron circle down icon"></i>
								<div class="menu">
									<div class="item">Choice 1</div>
									<div class="item">Choice 2</div>
									<div class="item">Choice 3</div>
								</div>
							</div>
				</div>
			</div>
	</header>
	<div class="bg_image">
	<div class="container" id="">
		<div class="tab">

			<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#select" class="fa fa-columns" aria-hidden="true">
						<p class="tab-head"><i class="add circle icon"></i>Select</p></a>
					</li>
					<li><a data-toggle="tab" href="#edit" class="fa fa-table" aria-hidden="true">
						<p class="tab-head"><i class="edit icon"></i>Edit</p></a>
					</li>
					<li><a data-toggle="tab" href="#insert" class="fa fa-cloud-upload" aria-hidden="true">
						 <p class="tab-head"><i class="cloud upload icon"></i>Insert</p></a>
					</li>

				</ul>

				<div class="tab-content">
					<div id="select" class="tab-pane fade in active">
						<div class="tab-header">
							<i class="file text outline icon"></i>Version & Column Selector
						</div>
						<div class="tabContent">
							<form>
								<div class="form-group1">
									<div class="row">
										<div class="col-md-4">
											<label for="exampleInputEmail1">Data:</label>
										</div>
										<div class="col-md-8">
											<div class="ui toggle checkbox toggle2">
												<input type="checkbox" name="data">
												<label>Get Data</label>
											</div>
										</div>
									</div>

								</div>
								<div class="form-group1">
									<div class="row">
										<div class="col-md-4">
											<label for="exampleSelect1">Version:</label>
										</div>
										<div class="col-md-8">
											<select class="ui dropdown" id="selectVersion">
												<option value="">Select Version</option>
												<option value="5">5</option>
												<option value="4">4</option>
												<option value="3">3</option>
												<option value="2">2</option>
												<option value="1">1</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group1">
									<div class="row">
										<div class="col-md-4">
											<label for="exampleSelect1">Sub-Model:</label>
										</div>
										<div class="col-md-8">
											<select class="ui dropdown" id="selectSubModel">
												<option value="">Select Sub-Model</option>
												<option value="Power">Power</option>
												<option value="Fuel">Fuel</option>
												<option value="Water">Water</option>
												<option value="Power-Sub">Power-Sub</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group1">
									<div class="row">
										<div class="col-md-4">
											<label for="exampleSelect1">Function:</label>
										</div>
										<div class="col-md-8">
											<select class="ui dropdown" id="selectFunction">
												<option value="">Select Function</option>
												<option value="FuelAllocated">FuelAllocated</option>
												<option value="FuelAllocatedTrend">FuelAllocatedTrend</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group1">
									<div class="row">
										<div class="col-md-4">
											<label for="exampleSelect2">Columns to Edit:</label>
										</div>
										<div class="col-md-8">
											<select class="ui fluid search dropdown" id="selectColumn" multiple="">
												<option value="">Select the columns to edit</option>
												<option value="Year">Year</option>
												<option value="Region">Region</option>
												<option value="FuelType">Fuel Type</option>
												<option value="Season">Season</option>
												<option value="Country">Country</option>
												<option value="Value">Value</option>
											</select>
										</div>
									</div>
								</div>

							</form>
						</div>
					</div>
					<div id="edit" class="tab-pane fade">
						<div class="tab-header">
							<i class="file text outline icon"></i>Edit the table
						</div>
						<div class="tabContent">
<!-- 
								<table class="table table-striped">
									<thead>
									<tr>
										<th></th>
										<th>ID</th>
										<th>Year</th>
										<th>Fuel Type</th>
										<th>Season</th>
								<th>value</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td></td>
										<td>1</td>
										<td>t1</td>
										<td>Arab Light</td>
										<td>Winter</td>
										<td>10.5</td>
									</tr>
									<tr>
										<td></td>
										<td>2</td>
										<td>t2</td>
										<td>HFO</td>
										<td>Summer</td>
										<td>25</td>
									</tr>
									<tr>
										<td></td>
										<td>3</td>
										<td>t3</td>
										<td>Nuclear</td>
										<td>Winter</td>
										<td>222</td>
									</tr>

									</tbody>
								</table> -->
								<p>Please Double-click on the cell to Edit "Value":</p>
 								<div class="" id="handsontable"></div> 
						</div>
					</div>
					<div id="insert" class="tab-pane fade">
						<div class="tab-header">
							<i class="file text outline icon"></i>Insert the edits
						</div>
						<div class="tabContent">
							<div class="form-group1">
								<div class="ui toggle checkbox">
									<input type="checkbox" name="public">
									<label>Fix the version as production</label>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		<ul class="pager">
		<li><button type="submit" class="btn" id="previous">
							<i class="chevron circle left icon"></i> Previous
			</button>
		</li>

		<li><button type="submit" class="btn" id="next">
							Next <i class="chevron circle right icon"></i>
			</button>
		</li>
		</ul>
	<!-- <i class="database icon"></i> Insert -->
	</div>
	</div>



	<script>
  var dataObject = [
    {id: 1, year: 't1', fuelType: 'Arab Light', season: 'Winter', value: 10.5},
    {id: 2, year: 't2', fuelType: 'HFO', season: 'Summer', value:25 },
	{id: 3, year: 't3', fuelType: 'Nuclwar', season: 'Winter', value: 222}
	 ];

yellowRenderer = function(instance, td, row, col, prop, value, cellProperties) {
    Handsontable.renderers.TextRenderer.apply(this, arguments);
    td.style.backgroundColor = '#FCF3CF';
};
  var handsontableElement = document.querySelector('#handsontable');
  var handsontableElementContainer = handsontableElement.parentNode;
  var handsontableSettings = {
    data: dataObject,
    stretchH: 'all',
    width: '100%',
    autoWrapRow: true,
    height: 321,
    // maxRows: 22,
    rowHeaders: true,
    colHeaders: [
        'ID',
        'Year',
        'Fuel Type',
        'Season',
        'Value'
    ],
    columns: [
        {
            data: 'id',
            type: 'numeric',
            width: 40,
			editor: false
        },
        {
            data: 'year',
            type: 'text',
			editor: false
        },
        {
            data: 'fuelType',
            type: 'text',
			editor: false

        },
        {
            data: 'season',
            type: 'text',
			editor: false
        },
        {
            data: 'value',
            type: 'numeric',
            format: '0.00',
			renderer: yellowRenderer
        }
    ],
	customBorders: [
    {col: 3, left: {width: 2, color: 'red'},
      right: {width: 1, color: 'green'}, top: '', bottom: ''}
  ]
};

  var handsontable = new Handsontable(handsontableElement, handsontableSettings);
</script>
</body>
</html>
