<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>EnerMod | Index</title> 
    
    <link rel="stylesheet" href="/enermod/assets/vendor/handsontable/dist/handsontable.full.min.css">
    <link rel="stylesheet" href="/enermod/assets/vendor/semantic/dist/semantic.min.css" >
    <link rel="stylesheet" type="text/css" href="/enermod/assets/css/style.css">
    <link rel="shortcut icon" href="/enermod/assets/images/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/enermod/assets/images/favicon.ico" type="image/x-icon">
    
    <script src="//use.fontawesome.com/bb75f81a3d.js"></script>
    <script src="/enermod/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/enermod/assets/vendor/handsontable/dist/handsontable.full.min.js"></script>
    <script src="/enermod/assets/vendor/semantic/dist/semantic.js"></script> 
    <script src="/enermod/assets/app/main.js"></script>
    
    
</head>
<body>
    {% block container %}
     {% if current_user.is_authenticated%}
    <div class="bg_image">
        <div class="ui tiny menu">
            <a>
                <img class="header-logo" src="/enermod/assets/images/logo.png">
            </a>
            <div class="right menu">
                <div class="ui dropdown item">
                    <span class="username" id="username"><i class="user icon"></i>{{ current_user.username }}</span>
                    <i class="chevron circle down icon"></i>
                    <div class="menu">
                        <a class="item" id="admin"><i class="setting icon"></i>Admin</a>
                        <a class="item" id="logout" href="/enermod/logout"><i class="sign out icon"></i>Logout</a>
                    </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="ui centered grid">
                <div class="twelve wide column">
                    <div class="ui top attached tabular menu">
                        <a class="active item" data-tab="select" id="selectTab"><i class="add circle icon"></i>Select</a>
                        <a class="item" data-tab="edit" id="editTab"><i class="edit icon"></i>Edit</a>
                        <a class="item" data-tab="insert" id="insertTab"><i class="cloud upload icon"></i>Insert</a>
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="edit">
                        <div class="tab-header">
                            <i class="file text outline icon"></i>Edit the table
                        </div>
                        <div class="tab-content">
                            <p>Please Double-click on the cell to Edit Values:</p>
                            <div class="" id="handsontable"></div>
                        </div> 
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="insert">
                        <div class="tab-header">
                            <i class="file text outline icon"></i>Insert the edits
                        </div>
                        <div class="tab-content center">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="public">
                                <label>Fix the version as production</label>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="stepButtons">
                        <div class="column float-left">
                            <button type="submit" class="ui button" id="previous">
                                <i class="chevron circle left icon"></i> Previous
                            </button>
                        </div>
                        <div class="column float-right"> 
                            <button type="submit" class="ui button" id="next">
                                Next <i class="chevron circle right icon"></i>
                                <!-- <i class="database icon"></i> Insert -->
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
     {% endif %}
        {% endblock %}
<script src="/enermod/assets/app/handsontable.js"></script>

</body>
</html>
