{% extends 'layout.html' %}

{% block content%}
    <div class="ui top attached tabular menu">
        <a class="active item" data-tab="1" id="selectTab"><i class="add circle icon"></i>Select</a>
        <a class="item" data-tab="2" id="editTab"><i class="edit icon"></i>Edit</a>
        <a class="item" data-tab="3" id="queryTab"><i class="database icon"></i>SQL query</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="1">
        {% include 'tabs/select.html' %}
    </div>
    <div class="ui bottom attached tab segment" data-tab="2">
        {% include 'tabs/edit.html' %}
    </div>
    <div class="ui bottom attached tab segment" data-tab="3">
        {% include 'tabs/query.html' %}
    </div> 

{% endblock%}
