{% extends 'layout.html' %}

{% block content%}
    <div class="ui top attached tabular menu">
        <a class="active item" data-tab="1" id="selectTab"><i class="add circle icon"></i>Select</a>
        <a class="item" data-tab="2" id="editTab"><i class="edit icon"></i>Edit</a>
        <a class="item" data-tab="3" id="queryTab"><i class="database icon"></i>SQL query</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="1">
        <div class="tab-header">
            <i class="file text outline icon"></i>Version & Column Selector
        </div>
        <div class="tab-content center">
            <form class="ui form" method="POST" action="edit"> 
                <div class="inline fields">
                    <div class="five wide field">
                        <label>Model:</label>
                    </div>
                    <div class="twelve wide field">
                        <select class="ui dropdown" name="selectedModel" id="selectedModel">
                            <option value="">Select Model</option>
                            {% for x in modeltype %}
                                <option data-value="{{x.modelid}}" value="{{x.modelid}}">{{x.modelName}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="five wide field">
                        <label>Country:</label>
                    </div>
                    <div class="twelve wide field">
                        <select class="ui dropdown" name="selectedModelCountry" id="selectedModelCountry">
                            <option value="">Select Country</option>
                            <!-- {% for x in modelcountry %} -->
                                <!-- <option data-value="{{x}}" value="{{x}}">{{x}}</option> -->
                            <!-- {% endfor %} -->
                        </select>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="five wide field">
                        <label>Data:</label>
                    </div>
                    <div class="twelve wide field">
                        <div class="ui toggle checkbox toggle2">
                            <input type="checkbox" checked="checked" name="data" disabled="disabled">
                            <label>Get Data</label>
                        </div>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="five wide field">
                        <label>User:</label>
                    </div>
                    <div class="twelve wide field">
                        <input name="user" id="user" value={{current_user.username}} type="hidden">
                        <select class="ui dropdown" name="selectedOwner" id="selectedOwner">
                                <option value="">Select User</option>
                            <!-- {% for x in owner|sort %} 
                                <option data-value="{{x.username}}" {% if x.username == current_user.username %} selected="selected" {% endif %} value="{{x.username}}"> 
                                        {% if ',' in x.dname|string %} 
                                        {{x.fname}} {{x.lname}}
                                    {% else %}
                                        {{x.dname}}
                                    {% endif %} 
                                </option>
                                    {% endfor %} -->
                        </select>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="five wide field">
                        <label>Version:</label>
                    </div>
                    <div class="twelve wide field">
                        <select class="ui dropdown" name="selectedVersion" id="selectedVersion">
                            <option value="">Select Version</option>
                            <!-- {% for x in mainversionList %}
                                <option data-value="{{x}}">{{x}}</option>
                            {% endfor %} -->
                        </select>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="five wide field">
                        <label>Sub-Model:</label>
                    </div>
                    <div class="twelve wide field">
                        <select class="ui dropdown" name="selectedSubModel" id="selectedSubModel">
                            <option value="">Select Sub-Model</option>
                            <!-- {% for x in submodels %}
                                <option data-value="{{x}}">{{x}}</option>
                            {% endfor %} -->
                        </select>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="five wide field">
                        <label>Function:</label>
                    </div>
                    <div class="twelve wide field">
                        <select class="ui dropdown" name="selectedFunction" id="selectedFunction">
                            <option value="">Select Function</option>
                            <!-- {% for x in funclist %}
                                <option data-value="{{x}}">{{x}}</option>
                            {% endfor %} -->
                        </select>
                    </div>
                </div>
                <div class="inline fields">
                    <div class="five wide field">
                        <label>Columns:</label>
                    </div>
                    <div class="twelve wide field">
                        <select class="ui fluid dropdown" id="selectedColumns" multiple disabled>
                            <option value="">Select the columns to edit</option>
                            <!-- <option value="YEAR_ID">Year</option>
                            <option value="REG_ID">Region</option>
                            <option value="FUEL_ID">Fuel Type</option>
                            <option value="SEA_ID">Season</option>
                            <option value="CNTRY_ID">Country</option> -->
                        </select>
                    </div>
                </div>
                <div id="errMsg" class="ui error message"></div>
            </form>
        </div>
    </div>
        <div class="ui bottom attached tab segment" data-tab="2">
        <div class="tab-header">
            <i class="file text outline icon"></i>Edit the table
        </div>
        <div class="tab-content">
            <p>Please Double-click on the cell to Edit Values:</p>
            <div class="" id="handsontable"></div>
            <div class="ui basic modal">
                <div class="ui icon header">
                    Are you sure you would like to Insert record?
                </div>
                <div class="actions">
                    <div class="ui red basic cancel inverted button">
                        <i class="remove icon"></i>Cancel
                    </div>
                    <div class="ui green basic ok inverted button">
                        <i class="checkmark icon"></i>Yes
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="ui bottom attached tab segment" data-tab="3">
        <div class="tab-header">
            <i class="file text outline icon"></i>Insert the edits
        </div>
        <div class="tab-content">
            <!-- <div class="ui toggle checkbox">
                <input type="checkbox" name="public">
                <label>Fix the version as production</label>
            </div> -->
            <div class="ui positive message">
                <div class="header">
                    message
                </div>
                <p>Record has been inserted successfully.</p>
            </div>
            <code class="lang-sql">
                <button class="copy-btn" data-clipboard-target="#clipboard">Copy</button>
                <div id="clipboard"></div>
            </code>
        </div>
    </div> 
    
    <!-- <div class="row" id="stepButtons">
        <div class="column float-left">
            <button type="submit" class="ui button" id="previous">
                <i class="chevron circle left icon"></i> Previous
            </button>
        </div>
        <div class="column float-right"> 
            <button type="submit" class="ui button" id="next">
                Next <i class="chevron circle right icon"></i>
            </button>
        </div>
    </div> -->
{% endblock%}
