<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>EnerMod | Login</title>
    <link rel="stylesheet" href="/enermod/assets/vendor/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/enermod/assets/css/style.css">
    <link rel="shortcut icon" href="/enermod/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/enermod/assets/images/favicon.ico" type="image/x-icon">
    <script src="//use.fontawesome.com/bb75f81a3d.js"></script>
</head>

<body>
    <div class="ui centered grid">
        {% block container %}
        <div class="sixteen wide tablet eight wide computer column">
            {% include "flash.html" %}
            <section class="login-content">
                <img class="logo" src="/enermod/assets/images/logo.png">
                <div class="row">
                    <form action="" method="POST" action="{{ url_for('login') }}" role="form"class="ui form">
                        {{ form.csrf_token }}
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" id="username" placeholder="KAPSARC One ID">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="row">
                            <a href="#" class="forgot-password">Forgot Password?</a>
                        </div>
                        <div class="row">
                            <button type="submit" class="ui button" id="login">
                                <i class="sign in icon"></i>Login
                            </button>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="ui horizontal divider">
                        <h4>Or</h4>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="outlook" id="outlook">Outlook Web App</button>
                </div>
            </section>
        </div>
        {% endblock %}
        <div class="zero wide tablet six wide computer column">
            <img src="/enermod/assets/images/pattern.svg" class="pattern">
        </div>
    </div>

</body>

</html>